version: 2.1
orbs:
  slack: circleci/slack@3.4.2
  ruby: circleci/ruby@1.4.0

jobs:
  build:
    docker: &ruby_image
      - image: 'cimg/ruby:2.7.7'
    steps:
      - checkout
      - ruby/install-deps
      - slack/status: &slack_status
          fail_only: true
          only_for_branches: master
          failure_message: ":facepalm:  Failed job $CIRCLE_JOB  :homer-disappear:"
          include_job_number_field: false
  test:
    working_directory: ~/circle
    docker: *ruby_image
    steps:
      - checkout
      - setup_remote_docker: &remote_docker
          docker_layer_caching: true
      - run:
          name: test
          command: docker-compose build && docker-compose run --rm app bundle exec rspec
      - slack/status: *slack_status
  lint:
    working_directory: ~/circle
    docker: *ruby_image
    steps:
      - checkout
      - ruby/install-deps
      - run:
          name: lint
          command: bundle exec rubocop
      - slack/status: *slack_status
  security:
    working_directory: ~/circle
    docker: *ruby_image
    steps:
      - checkout
      - ruby/install-deps
      - run:
          name: security
          command: bundle exec brakeman -q --no-pager
      - slack/status: *slack_status
  build_and_push_image:
    working_directory: ~/circle/git/fb-submitter
    docker: &ecr_image
      - image: $AWS_BUILD_IMAGE_ECR_ACCOUNT_URL
        aws_auth:
          aws_access_key_id: $AWS_BUILD_IMAGE_ACCESS_KEY_ID
          aws_secret_access_key: $AWS_BUILD_IMAGE_SECRET_ACCESS_KEY
    steps:
      - checkout
      - setup_remote_docker: *remote_docker
      - run: &base_environment_variables
          name: Setup base environment variable
          command: |
            echo "export BUILD_SHA=$CIRCLE_SHA1" >> $BASH_ENV
            echo "export SSH_FILE_FOR_SECRETS=~/.ssh/id_rsa_5dc8801b1a82afe03026d162377ec9c1" >> $BASH_ENV
      - run: &deploy_scripts
          name: cloning deploy scripts
          command: 'git clone git@github.com:ministryofjustice/fb-deploy.git deploy-scripts'
      - run:
          name: build and push docker images
          environment:
            ENVIRONMENT_NAME: test
          command: './deploy-scripts/bin/build'
      - slack/status: *slack_status
  deploy_to_test_dev:
    working_directory: ~/circle/git/fb-submitter
    docker: *ecr_image
    steps:
      - checkout
      - setup_remote_docker: *remote_docker
      - add_ssh_keys: &ssh_keys
          fingerprints:
            - "5d:c8:80:1b:1a:82:af:e0:30:26:d1:62:37:7e:c9:c1"
      - run: *base_environment_variables
      - run: *deploy_scripts
      - run:
          name: deploy to test dev (EKS cluster)
          environment:
            APPLICATION_NAME: fb-submitter
            PLATFORM_ENV: test
            DEPLOYMENT_ENV: dev
            K8S_NAMESPACE: formbuilder-platform-test-dev
          command: './deploy-scripts/bin/deploy-eks'
      - slack/status: *slack_status
  deploy_to_test_production:
    working_directory: ~/circle/git/fb-submitter
    docker: *ecr_image
    steps:
      - checkout
      - setup_remote_docker: *remote_docker
      - add_ssh_keys: *ssh_keys
      - run: *base_environment_variables
      - run: *deploy_scripts
      - run:
          name: deploy to test production (EKS cluster)
          environment:
            APPLICATION_NAME: fb-submitter
            PLATFORM_ENV: test
            DEPLOYMENT_ENV: production
            K8S_NAMESPACE: formbuilder-platform-test-production
          command: './deploy-scripts/bin/deploy-eks'
      - slack/status: *slack_status
  deploy_to_live_dev:
    working_directory: ~/circle/git/fb-submitter
    docker: *ecr_image
    steps:
      - checkout
      - setup_remote_docker: *remote_docker
      - add_ssh_keys: *ssh_keys
      - run: *base_environment_variables
      - run: *deploy_scripts
      - run:
          name: deploy to live dev (eks)
          environment:
            APPLICATION_NAME: fb-submitter
            PLATFORM_ENV: live
            DEPLOYMENT_ENV: dev
            K8S_NAMESPACE: formbuilder-platform-live-dev
          command: './deploy-scripts/bin/deploy-eks'
      - slack/status:
          only_for_branches: master
          success_message: ":rocket:  Successfully deployed to Live Dev  :guitar:"
          failure_message: ":alert:  Failed to deploy to Live Dev  :try_not_to_cry:"
          include_job_number_field: false
  deploy_to_live_production:
    working_directory: ~/circle/git/fb-submitter
    docker: *ecr_image
    steps:
      - checkout
      - setup_remote_docker: *remote_docker
      - add_ssh_keys: *ssh_keys
      - run: *base_environment_variables
      - run: *deploy_scripts
      - run:
          name: deploy to live production (eks)
          environment:
            APPLICATION_NAME: fb-submitter
            PLATFORM_ENV: live
            DEPLOYMENT_ENV: production
            K8S_NAMESPACE: formbuilder-platform-live-production
          command: './deploy-scripts/bin/deploy-eks'
      - slack/status:
          only_for_branches: master
          success_message: ":rocket:  Successfully deployed to Live Production  :guitar:"
          failure_message: ":alert:  Failed to deploy to Live Production  :try_not_to_cry:"
          include_job_number_field: false
  acceptance_tests:
    docker: *ecr_image
    resource_class: large
    steps:
      - setup_remote_docker: *remote_docker
      - run: *deploy_scripts
      - run:
          name: Run acceptance tests
          command: './deploy-scripts/bin/acceptance_tests'
      - slack/status: *slack_status
  smoke_tests:
    docker: *ecr_image
    steps:
      - setup_remote_docker: *remote_docker
      - run: *deploy_scripts
      - run:
          name: Run smoke tests
          command: './deploy-scripts/bin/smoke_tests'
      - slack/status: *slack_status

workflows:
  version: 2
  test_and_build:
    jobs:
      - test
      - build
      - lint:
          requires:
            -  build
      - security:
          requires:
            -  build
      - build_and_push_image:
          requires:
            - test
            - lint
            - security
          filters:
            branches:
              only:
                - master
      - deploy_to_test_dev:
          requires:
            - build_and_push_image
      - deploy_to_test_production:
          requires:
            - build_and_push_image
      - acceptance_tests:
          requires:
            - deploy_to_test_dev
            - deploy_to_test_production
      - deploy_to_live_dev:
          requires:
            - acceptance_tests
      - deploy_to_live_production:
          requires:
            - acceptance_tests
      - smoke_tests:
          requires:
            - deploy_to_live_dev
            - deploy_to_live_production
